body{
    font-family: 'Montserrat';
}

h2 {
    font-weight: 600;
    font-size: 2.4rem;
    font-family: "Montserrat";
    line-height: 1.5;
}

#title{
    background-color: #282A3A;
}

#features{
    background-color: white;
}

#features{
    color: black;
    padding: 12rem;
    text-align: center;
    position: relative;
    z-index: 1;
}


.features-title{
    font-weight: 600;
    font-size: 2.4rem; 
    font-family: "Cabin";

}

.features-text{
    color: grey;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.15rem;
    margin: 0 auto 0 auto;
}

.carousel-item{
    padding: 7% 15%;
}

.card{
    padding: 0px 12px;
}
.container-fluid{
    padding: 3% 15%;
}

.check-icon{
    font-size: 4rem;
    color: #54B435;
    padding-top: 3.75rem;
}

.check-icon:hover{
    color: #82CD47;
}

#cta{
    background-color: #C69749;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: 'Montserrat';
    font-size: 3.5rem;
}

.download-button{
    margin:5% 3% 5% 0%;
}

.main-title{
    font-family: "Montserrat";
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1.5;
    color: #C69749;
    padding-top: 150px;
    padding-bottom:50px;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}

.heart-icon{
    color: #E96479;
    font-size: 4rem;
    padding-top: 3.75rem;
}

.heart-icon:hover{
    color: #e096a1;
}

.iphoneX{
    width: 22rem;
    transform: rotate(20deg);
    position: absolute;
}

.nav-item{
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Cabin', sans-serif;
}

.navbar-brand{
    font-size: 4rem;
    font-family: 'Faster One';
}

.navbar{
    padding: 0 0 5rem;
}

.nav-link{
    font-size:1.2rem;
}

#press{
    background-color: #C69749;
    text-align: center;
}

.press-img {
    width: 7%;
    margin: 1rem 1rem 1rem;
}

.pricing-btn{
    width:100%;
    font-family: "Cabin";
    font-weight: 600;
}

.social {
    margin: 20px 10px;
}

.pricing-column{
    padding: 3% 2%;
}
#pricing{
    padding: 100px;
}

.shield-icon{
    color: #0081C9;
    font-size: 4rem;
    padding-top: 3.75rem;
}

.shield-icon:hover{
    color: #4da6d6;
}

#testimonials{
    text-align: center;
    background-color: #C69749;
}

.testimonial-image{
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}

@media (max-width: 992px) {
    #title{
        text-align: center;
    }
    .iphoneX{
        position: static;
        transform: rotate(0);
    }
}
